h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: #d297b1;
	font-weight: bold;
	padding: 0;
}

/* collapsible experience */
/*heading section*/
.job.even {
	border: 2px solid #9f3f69;
    background-color: #111111;
    border-radius: 3px;
    margin-bottom: 10px;
}

.job.odd {
	border: 2px solid #9f3f69;
    background-color: #111111;
    border-radius: 3px;
    margin-bottom: 10px;
}

.job:hover {
	transform: scale(1.05);
    box-shadow: 0 3px 6px #9f3f69;
    margin-bottom: 15px;
}

.jobinfo {
	display: flex;
	align-items: start;
}

.companylogo {
	width: 55px;
	height: 55px;
	border-radius: 3px;
	margin-top: 5px;
    margin-bottom: 6px;
    margin-right: 5px;
}

.jobtitle,
.jobname,
.date {
    margin: 0px;
    padding: 0;
    text-align: left;
    color: #fef8e0;
}

.jobtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 'bold';
}

.jobname {
    font-size: 16px;
}

.date {
    font-size: 14px;
}

/*collapsed section*/
.collapsible {
	cursor: pointer;
	width: 100%;
	border: none;
	background: none;
	width: max-content;
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	background-color: #111111;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-right: 3px;
}
  
.collapsible-content.active {
	max-height: 1000px;
}

.details p {
    margin: 0 13px;
}

.skills {
    display: flex;
    justify-content: right;
}
  
.skills p {
    margin: 0 10px;
    color: #d297b1;
    font-weight: bold;
}


/* project carousel*/
/*carousel button*/
.carousel-control-prev, 
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 5%;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px;
    height: 25px;
}

.project-container {
	display: flex;
    width: 80%;
	border-radius: 10px;
	border: 2px solid #9f3f69;
	/* padding-right: 3px; */
}



/*heading section*/
.project-title {
	background-color: #9f3f69;;
	border-radius: 3px 0px 0px 3px;
	position: relative;
}

@media (max-width: 767px) {
	.project-title {
		background-color: #9f3f69;;
		border-radius: 3px 3px 0px 0px;
		position: relative;
		
	}
	.project-title h1,
	.project-title a {
		margin: 2px;
  		padding: 0;
	}
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
	margin: 0;
	color: #fef8e0;
    
}

.play {
    color: #111111;
    font-size: 24px;
}

/* main section */
.description {
    font-family: 'Lato', sans-serif;
	font-size: 16px;
  	color: #fef8e0;
}

.projectskills {
    display: inline-block;
    margin: 0 10px;
    color: #d297b1;
    font-weight: bold;
}